VERSION=latest

CONFIG_DIR=./config
DOWNLOADS_DIR=./downloads
WATCH_DIR=./watch

PUID=1000
PGID=1000
TZ=Europe/Madrid

HTTPS_PORTAL_STAGE=local    # local | production
HTTPS_PORTAL_USER=changeme
HTTPS_PORTAL_PASSWORD=12345Abcde
DOMAIN=transmission.example.com

EXTRA_SITES=
