MEDIA_DIR=./media
WATCH_DIR=./media/watch
RESUME_DIR=./media/resume
TORRENTS_DIR=./media/torrents

DOWNLOAD_PATH=/media/downloads

HTTPS_PORTAL_STAGE=local    # local | production
HTTPS_PORTAL_USER=changeme
HTTPS_PORTAL_PASSWORD=12345Abcde
DOMAIN=transmission.example.com
