VERSION=latest

CONFIG_DIR=./config
DOWNLOADS_DIR=./downloads
WATCH_DIR=./watch

PUID=1000
PGID=1000
TZ=Europe/Madrid

HTTPS_PORTAL_STAGE=local    # local | production
HTTPS_PORTAL_USER=changeme
HTTPS_PORTAL_PASSWORD=12345Abcde
DOMAIN=transmission.example.com

EXTRA_SITES=

TRAEFIK_AUTH=changeme:$$2y$$05$$tKn.CJ9kxadgoqszWLPW3uEAbaWEn2BKvqj4UxxGq4Mbsk5p5o1eW
